{
	auto_https off
}

:80 {
	@services path /healthcheck /pim /pim/* /search /search/* /media-storage /media-storage/* /notifications /notifications/* /web /web/*
	handle @services {
		reverse_proxy gateway:8080 {
			header_up -Forwarded
			header_up -X-Forwarded-Prefix
			header_up -X-Forwarded-Port
		}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
